<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	
	<title>管理系统</title>

	<link type="text/css" href="/static/style.css" rel="stylesheet" /> <!-- the layout css file -->
	<link type="text/css" href="/static/css/jquery.cleditor.css" rel="stylesheet" />
	
	<script type='text/javascript' src='/static/js/jquery-1.4.2.min.js'></script>	<!-- jquery library -->
	<script type='text/javascript' src='/static/js/jquery-ui-1.8.5.custom.min.js'></script> <!-- jquery UI -->
	<script type='text/javascript' src='/static/js/cufon-yui.js'></script> <!-- Cufon font replacement -->
	<script type='text/javascript' src='/static/js/ColaborateLight_400.font.js'></script> <!-- the Colaborate Light font -->
	<script type='text/javascript' src='/static/js/easyTooltip.js'></script> <!-- element tooltips -->
	<script type='text/javascript' src='/static/js/jquery.tablesorter.min.js'></script> <!-- tablesorter -->
	
	<!--[if IE 8]>
		<script type='text/javascript' src='/static/js/excanvas.js'></script>
		<link rel="stylesheet" href="/static/css/IEfix.css" type="text/css" media="screen" />
	<![endif]--> 
 
	<!--[if IE 7]>
		<script type='text/javascript' src='/static/js/excanvas.js'></script>
		<link rel="stylesheet" href="/static/css/IEfix.css" type="text/css" media="screen" />
	<![endif]--> 
	
	<script type='text/javascript' src='/static/js/visualize.jQuery.js'></script> <!-- visualize plugin for graphs / statistics -->
	<script type='text/javascript' src='/static/js/iphone-style-checkboxes.js'></script> <!-- iphone like checkboxes -->
	<script type='text/javascript' src='/static/js/jquery.cleditor.min.js'></script> <!-- wysiwyg editor -->

	<script type='text/javascript' src='/static/js/custom.js'></script> <!-- the "make them work" script -->
</head>

<body>

	<div id="container">
		<div id="bgwrap">
			<div id="primary_left">
				{% module LeftMenu() %}
			</div> <!-- sidebar end -->

			<div id="primary_right">
				<div class="inner">
